<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Likhitha Acedemic Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900" rel="stylesheet">
</head>
<body>
<div class="main-nav">
    <ul class="nav">
        <li class="name">Likhitha Jasthi</li>
        <li><a href="homePage.html">Home</a></li>
        <li><a href="experience.html">Experience</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="technicalSkills.html">Technical Skills</a></li>
        <li><a href="acedemicProjects.html">Acedemic projects</a></li>
        <li><a href="publication.html">Publications</a></li>
    </ul>
</div>
<header>
    <img src= "../images/download.png" alt="ProfilePhoto" class="profile-image" >
    <h2 class="tag location"> Summary of Projects</h2>
</header>
<main class="flex">
    <div class="card">

            <b>ProfAssistor</b>
            <small>
            <p><i>University of Regina, 2020</i></p>
            <p><i>Regina, Saskatchewan, Canada</i></p>
            </small>
            <ul>
                <li><p> Mapping professor and students based on preferences, professor can add and select the courses and generate Question papers and Assignments and download in PDF format.</p></li>
                <li><p>Technologies Used: Python, Django, PostgreSQL, HTML5, and CSS3.</p></li>
        </ul>
    </div>
    <div class="card">

   <b> Virtual Reality application for Architectural Visualization </b>
        <small><i>
        <p> Koneru Lakshmaiah University, 2018</p>
         <p>Guntur, Andhra Pradesh, India</p>
        </i>
        </small>
        <ul>

   <li><p> The main objective is to Explore Virtual 360 degrees web Architecture application and experiencing the changes that user can done in the apartment like changing the furniture, color of the walls, migrating from one room to the other and many more.</p></li>
            <li><p>Technologies Used: Unity, Oculus Rift, and C#.Net.</p></li>
        </ul>
    </div>
</main>
<footer>
    <ul>
        <li><a href="https://twitter.com/LikhithaJasthi" target="_blink" class="social twitter">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/likhitha-jasthi-061226114/" target="_blink" class="social linkedin">LinkedIn</a></li>
        <li><a href="https://github.com/Likhithajasthi" target="_blink" class="social github">Github</a></li>
    </ul>
    <p class="copyright">Copyright 2020, Likhitha Jasthi</p>
</footer>
</body>
</html>