<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900" rel="stylesheet">
</head>
<body>
<div class="main-nav">
    <ul class="nav">
        <li class="name">Likhitha Jasthi</li>
        <li><a href="homePage.html">Home</a></li>
        <li><a href="experience.html">Experience</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="technicalSkills.html" >Technical Skills</a></li>
        <li><a href="acedemicProjects.html">Acedemic projects</a></li>
    </ul>
</div>
<header>
    <img src="https://placeimg.com/200/200/tech" alt="Profile Photo" class="profile-image" >
    <h1 class="tag name">Likhitha Jasthi, Front End Web developer</h1>
    <h2 class="tag location"> Contact Details</h2>

</header>
<main class="flex">
    <div class="card">
        <b><h2>Contact Me</h2></b>
       Mailing Address
        Apartment No: 309, 5601 Gordon Road
        Regina, Sasakewan


    </div>
</main>
</body>
</html>